/* add specific card css */
.card {
    margin-bottom: 5px;
}
/* end added */

.list-group-sub-item {
    position: relative;
    display: block;
    padding: .75rem 2.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}