<div class="loginform container">
    <form (ngSubmit)="onSubmitLogin(login)" #login="ngForm">
        <div class="logincontainer">
            <label> User Login</label>
        </div>
        <div class="form-group">
            <label>
                <b>Username</b>
            </label>
            <input class="form-control input-lg" type="text" id="uname" placeholder="Enter Username" name="uname" #username="ngModel"
                autofocus [(ngModel)]="_user.Username" required />
            <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                Username is required
            </div>
        </div>
        <div class="form-group">
            <label>
                <b>Password</b>
            </label>
            <input class="form-control input-lg" type="password" id="psw" placeholder="Enter Password" name="psw" #password="ngModel"
            [(ngModel)]="_user.Password" required />
            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <button type="submit">Login</button>
        <input type="checkbox" [(ngModel)]="_user.RememberMe" name="remember"> Remember me
        <div style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" (click)="userRegister()">Register</button>
            <span class="psw">Forgot
                <a href="#">password?</a>
            </span>
        </div>
    </form>
</div>