<div class="container">
  <form class="form-horizontal" (ngSubmit)="onSubmitRegister(register)" #register="ngForm">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Register New User</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="firstname">First Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Ashan" #firstname="ngModel"
            required autofocus [(ngModel)]="_userDetails.FirstName">         
          </div>
          <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
              First Name is required.
          </span>   
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="lastname">Last Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Madushanka" #lastname="ngModel"
            required autofocus [(ngModel)]="_userDetails.LastName"> 
          </div>
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
              Last Name is required.
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail Address</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com"
            required autofocus [(ngModel)]="_userDetails.EmailAddress">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="username">User Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="username" class="form-control" id="username" placeholder="you@example.com"
            required autofocus [(ngModel)]="_userDetails.Username">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password"
            required autofocus [(ngModel)]="_userDetails.Password">
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
              <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <i class="fa fa-close"> Example Error Message</i>
                      </span>
              </div>
          </div> -->
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Confirm Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="phonenumber">Phone Number</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="number" name="phonenumber" class="form-control" id="phonenumber" placeholder="Phone Number"
            required autofocus [(ngModel)]="_userDetails.ContactNumber">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="billaddress1">Address 01</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="billaddress1" class="form-control" id="billaddress1" placeholder="No 13/47, Morawagawatta"
            required autofocus [(ngModel)]="_userDetails.Address1">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="billaddress2">Address 02</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="billaddress2" class="form-control" id="billaddress2" placeholder="Sitinamaluwa"
            required autofocus [(ngModel)]="_userDetails.Address2">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="city">City</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="city" class="form-control" id="city" placeholder="Beliatta"
            required autofocus [(ngModel)]="_userDetails.City">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="postalcode">Zip Postal Code</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="postalcode" class="form-control" id="postalcode" placeholder="82400"
            required autofocus [(ngModel)]="_userDetails.ZipPostalCode">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-user-plus"></i> Register Now</button>
      </div>
    </div>
  </form>
</div>