@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }

  .btn-success {
    margin-bottom: 15px;
  }

/* Override register page header css */
h2 {
  color: white;
  text-align: center;
}

.alert {
  padding: 0;
}