/* specific for cart block */
.cart_block {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.btn-light {
    color: #fff;
    background-color: #4e9fe6;
}

.btn-light:hover {
    background-color: #007bff;
}
/* end added */
